<ul class="timeline">
    {{ range ((where .Pages "Type" "education").ByParam "dateStart").Reverse }}
        <li class="timeline-content" data-date="{{ .Params.DateStart }} - {{ .Params.DateEnd }} ">
            <div class="title">
                {{ .Title }}
            </div>
            <div class="subtitle">
                {{ $school := .Params.School }}
                {{ with .Params.Icon }}
                    {{ $strippedSlash := (. | replaceRE "^(/)+(.*)" "$2") }}
                    {{ $icon := (printf "%s/%s" $.Site.BaseURL $strippedSlash) }}
                    <img src="{{ $icon }}" alt="{{ $school }}">
                {{ end }}
                {{ $school }}
            </div>
            <div class="description">
                {{ .Content }}
            </div>
        </li>
    {{ end }}
</ul>
