<ul class="timeline">
    {{ range ((where .Pages "Type" "experience").ByParam "dateStart").Reverse }}
        <li class="timeline-content" data-date="{{ .Params.DateStart }} - {{ .Params.DateEnd }} ">
            <div class="title">
                {{ .Params.Role }}
            </div>
            <div class="subtitle">
                {{ if isset .Params "icon" }}
                    <img src="education/{{ .Params.Icon }}" alt="{{ .Params.Company }}">
                {{ end }}
                {{ .Params.Company }}
            </div>
            <div class="description">
                {{ .Content }}
            </div>
        </li>
    {{ end }}
</ul>