<style>
.content {
    max-width: none;
    padding-right: 0;
    margin-right: 0;
}
@media (max-width: 767px) {
    body, .container {
        padding: 0;
        margin: 0;
    }
}
</style>
<div class="resume-container">
    <div class="resume-section-title resume-hobbies">
        <i class="material-icons">pool</i> Hobbies
    </div>
    <div class="resume-section resume-hobbies">
        {{ partial "resume/hobbies.html" . }}
    </div>

    <div class="resume-section-title resume-skills">
        <i class="material-icons">code</i> Skills
    </div>
    <div class="resume-section resume-skills">
        {{ partial "resume/skills.html" . }}
    </div>

    <div class="resume-section-title resume-projects">
        <i class="material-icons">extension</i> Projects
    </div>
    <div class="resume-section resume-projects">
        {{ partial "resume/projects.html" . }}
    </div>

    <div class="resume-section-title resume-experience">
        <i class="material-icons">work</i> Experience
    </div>
    <div class="resume-section resume-experience">
        {{ partial "resume/experience.html" . }}
    </div>

    <div class="resume-section-title resume-education">
        <i class="material-icons">school</i> Education
    </div>
    <div class="resume-section resume-education">
        {{ partial "resume/education.html" . }}
    </div>

    <div class="resume-section-title resume-me open">
        <i class="material-icons">person</i> Me
    </div>
    <div class="resume-section resume-me open">
        {{ partial "resume/me.html" . }}
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $(".resume-section-title").click(function() {
        next = $(this).next()
        $(".resume-section").not(next).removeClass("open");
        next.addClass("open")
        $(".resume-section-title").not(this).removeClass("open")
        $(this).addClass("open")
    });
</script>